@using Microsoft.AspNet.Identity
@using App.BLL.Infrastructure
@model App.WEB.Models.UserProfileViewModel
@{
    ViewBag.Title = "EditProfile";
}

<style>
    .form-area {
        background-color: #FAFAFA;
        padding: 10px 40px 60px;
        margin: 10px 0px 60px;
        border: 1px solid GREY;
    }
</style>

 
  

<h2>Редактирование профиля</h2>

@using (Html.BeginForm("EditProfile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p></p>
    <p></p>



    <div class="container">
        <div class="col-md-5">
            <div class="form-area">
                <div class="editor-label">
                    <p><h2>Информация о себе: </h2></p>
                </div>

                <div class="editor-field">
                    <h4>Фотография вашего профиля</h4>
                    <input type="file" id="file" name="file" />
                </div>

                <div class="editor-field">
                    <h4>Ваше имя</h4>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="editor-field">
                    <h4>Ваш возраст</h4>
                    @Html.EditorFor(model => model.Age)
                    @Html.ValidationMessageFor(model => model.Age)
                </div>

                <div class="editor-field">
                    <h4>Телефон</h4>
                    @Html.EditorFor(model => model.PhoneNumber)
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>

                <div class="editor-field form-group">
                    <h4>О себе</h4>
                    @Html.TextAreaFor(m => m.Info, 5, 50, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Info)
                </div>
                <p></p>
                <div class="editor-label">
                    <p>Виды выполняемых работ: </p>
                </div>
                <div class="editor-field form-group">
                    @Html.TextAreaFor(m => m.CategoriesOfWork, 5, 50, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoriesOfWork)
                </div>

                <button type="submit" id="submit" name="submit" class="btn btn-primary">Сохранить</button>

                </div>
            </div>
        </div>
            
}
    
@section Scripts
{
     @Scripts.Render("~/bundles/jqueryval")
}

