@model App.WEB.Models.CommonViewModel
@using App.WEB.Models
@using App.WEB.Helpers

 
<div>
    @foreach (var p in Model.Posts)
    {
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div class="span8 well ">
                    <h3 class="text-danger">@p.Category</h3>
                    <h4 style="word-break: break-all;">
                        @p.Description<br />
                    </h4>
                      
                        <div class="pull-right">
                            <input type="submit" class="btn btn-success btn-lg " value="@p.Price р" />
                        </div>

                        <hr>
                    <div>
                        <span class="badge badge-success">Опубликовано @p.Date</span><a href="/Profile/UserProfile/@p.UserId"><h6>к заказчику</h6></a>
                    </div>
                    </div>
                
             </div>
        </div>
   
    } 
</div>
     

<br />
    Страница @(Model.PageInfo.TotalPages < Model.PageInfo.PageNumber ? 0 : Model.PageInfo.PageNumber) из @Model.PageInfo.TotalPages
    <br />
    <div class="btn-group" id="myPager">

        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x, category = Model.CurrentCategory }))

    </div>

 

